<div class="buffer"></div>
  <div class="container buffer-top">
    <%= alert_box "danger", "Info!", notice if flash.any? %>    
    </div><!-- /container -->
<div class= "panel panel-default container-form">
	<div class= "panle-body">
		<div class="panel-heading"><h1>Sign in</h1>
	
		</div>
		

		
		<%=  bootstrap_form_tag url:'/login' , html: {class: " form-horizontal"} do |f| %>
		
  <div class="form-group">
  
    <div class="col-sm-10">
    	 <%= f.email_field :email, hide_label: true, placeholder: "Email", class: "form-control search-form", id: "email_field"   %>
     
    </div>
  </div>
  <div class="form-group">
  
    <div class="col-sm-10">
      <%= f.password_field :password, hide_label: true, placeholder: "Password", class: "form-control search-form", id: "password_field"  %>
    </div>
  </div>
  <hr class="or-hr">
  <div class="form-group">
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
  	
    <div class=" col-sm-10">
      <button type="submit" class="btn btn-success  btn-s ">Sign in</button>
    </div>
  </div>


		
			
			<% end %>
		</div>
	</div>
</div>

 