@import "bootstrap";
@import "font-awesome";
@import "summernote";
@import "codemirror";
// @import "atelier-heath-dark";


@import "codemirror/themes/solarized";
@import "posts";

body {padding: 3em 0;}
.container-small{
	max-width: 640px;
	margin: 0 auto;
	padding: 5px;

}
.buffer{
	height: 30px;
}
 .btn-info{
 	background: #428bca;


 	}
 	.btn-left{
 		 margin-left: 7px;
 	}
// .main-custom{
// 	background: #000;
// 	border: none;
// }